.portfolio {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

@media (max-width: 900px) {
    .portfolio {
        flex-direction: column;
        margin: 0 50px
    }
}