@font-face {
    font-family: 'MyFont';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/OCRAStd.otf') format('opentype'); /* Adjust path */
}

@font-face {
    font-family: 'DoubleVision';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Doublevision-0W7dR.ttf') format('truetype'); /* Adjust path */
}

*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'OCR A Std', sans-serif;
    color: #000000;
}

.index {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    letter-spacing: 2px;
    display: inline-block;
    text-align: center;
    padding: 0.75em 1.5em;
    border: 3px solid #005eff;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #005eff;
    transition: 0.3s ease all;
    z-index: 1;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-start;
  }

  button a {
    color: #005eff;
    text-decoration: none;
  }
  
  button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #005eff;
    z-index: -1;
  }
  
  button:hover, button:focus{
    color: white;
  }

  button:hover a, button:focus a{
    color: white;
  }
  
  button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  button:active {
    transform: scale(0.9);
  }

